version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: vidolgov/kittygram_backend:latest
    env_file: .env
    depends_on:
      - db
    restart: always
    volumes:
      - static:/app/static
      - media:/app/media
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn kittygram_backend.wsgi:application --bind 0.0.0.0:8000
      "

  frontend:
    image: vidolgov/kittygram_frontend:latest
    depends_on:
      - backend
    restart: always
    volumes:
      - static:/static
    command: >
      sh -c "
      cp -r /app/build/. /static/
      "

  gateway:
    image: vidolgov/kittygram_gateway:latest
    depends_on:
      - backend
      - frontend
    ports:
      - "9000:80"
    restart: always
    volumes:
      - static:/static
      - media:/media
